<div class="assets-page">
  <h1 class="assets-page__title">Assets</h1>

  <app-error-message [message]="(facade.error$ | async) ?? null" />

  @if (facade.isLoading$ | async) {
    <app-skeleton-loader variant="table-row" [count]="5" />
  } @else {
    <app-reusable-table
      [columns]="columns"
      [data]="sortedData"
      [sortable]="true"
      [paginator]="true"
      [pageSize]="currentSize"
      [pageIndex]="currentPage"
      [totalElements]="totalElements"
      [trackByFn]="trackByTicker"
      [rowClickable]="true"
      emptyIcon="trending_flat"
      emptyMessage="No assets found."
      (sortChange)="onSortChange($event)"
      (pageChange)="onPageChange($event)"
      (rowClick)="onRowClick($event)"
    >
      <ng-template appCellDef="currentPrice" let-row>
        {{ row.currentPrice | number:'1.2-2' }}
      </ng-template>

      <ng-template appCellDef="dividendYield" let-row>
        {{ row.dividendYield | number:'1.2-2' }}%
      </ng-template>

      <ng-template appCellDef="pVp" let-row>
        {{ row.pVp | number:'1.2-2' }}
      </ng-template>

      <ng-template appCellDef="updatedAt" let-row>
        {{ row.updatedAt | date:'short' }}
      </ng-template>
    </app-reusable-table>
  }
</div>
