.sidebar-nav {
  padding: 8px 0;
}

.active-link {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);

  mat-icon {
    color: var(--mat-sys-on-secondary-container);
  }
}
